.info{
    background-color: #391005;
}
.info a{
    color: #ffae58;
    transition: color 0.3s ease-in-out;
}
.info a:hover{
    color: #c94118;
}
#logo{
    font-family: 'Lobster', cursive;
    word-spacing: 0.6rem;
    color: #ffae58;
}
#logo a{
    text-decoration: none;
}
header{
    min-height: calc(100vh - 94px); /*100% da altura da tela - 94px*/
    background: linear-gradient(rgba(0,0,0,0.6), rgba(200,0,0,0.4)), url(../imgs/bbq.gif);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
.row-bn{
    min-height: calc(100vh - 94px);
}
.banner h1{
    border-top: 6px dotted #f4f1cb;
    border-bottom: 6px dotted #f4f1cb;
    animation: paraDireita;
    animation-duration: 4s;
    animation-fill-mode: forwards; 
}
@keyframes paraDireita{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    50%{
        transform: translate(30px);
    }
    100%{
        transform: translate(0);
        opacity: 1  ;
    }
}
.banner h1 small{
    color: #f4f1cb;
    font-family: 'Lobster', cursive;
}
.banner h1 strong{
    color: #f1c70a;
    font-family: 'Lobster', cursive;
}
.pedir-btn{
    color: #f4f1cb;
    background-color: #391005;
    font-size: 2rem;
    border: 2px solid #f1c70a;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
    animation: paraEsquerda;
    animation-duration: 4s;
    animation-fill-mode: forwards; 
}
.pedir-btn:hover{
    color: #7E1819;
    border: 2px solid #731819;
    background-color: #f1c70a;
}
@keyframes paraEsquerda{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.btn-adiante{
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: #391005;
    background-color: #ffae58;
    border-radius: 10px;
    transition: all 0.5 ease;
    animation: paraBaixo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.btn-adiante:hover{
    background-color: #f0db00;
    color: #391005;
}
@keyframes paraBaixo{
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
.navbar{
    font-family: 'Lobster', cursive;
    background-color: #391005;
    padding: 20px 20px;
    transition: all 1s ease;
}
.navbar-background{
    padding: 5px 20px;
}
.navbar-brand img{
    height: 50px;
    transition: all 2s ease-in-out;
}
.navbar-brand img:hover{
    transform: scale(1.1);
}
.navbar-brand:hover{
    color: #ffae58;

}
.nav-link{
    color:  #ffae58;
    text-decoration: none;
    display: inline;
    transition: all 1s ease;
    font-size: 23px;

}
.nav-link:hover{
    color: #f1c70a;
}
.nav-btn{
    background-color: #391005;
    color: #f1c70a;
    border: 2px solid #7E1819;
    font-size: 23px;
    transition: all 1s ease;
}
.nav-btn:hover{
    color: #391005;
    border: 2px solid #731819;
    background-color: #f1c70a;
    transform: rotate(5deg);
}
.toggler-btn{
    border: 2px solid #ffae58;
    padding: 5px;
    transition: all 1s ease;
}
.bar{
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #ffae58;
    transition: all 0.5 ease;
}
.change .bar1{
    transform: rotate(45deg) translate(8px, 5px);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform: rotate(-45deg) translate(6px, -3px);
}
body{
    background: url(../imgs/bg.jpeg) center/cover fixed no-repeat;
    width: 100%;
}
.parent-container{
    font-family: 'Lobster', cursive;
}
.container h1{
    font-family: 'Lobster', cursive;
    color: #f4f1cb;
}
.item-container{
    position: relative;
    overflow: hidden;
    background: linear-gradient(rgb(0,0,0), rgb(0,0,0));

}
.item-img{
    transition: all 2s ease;
}
.item-container:hover .item-img{ /*zoom na img*/
    transform: scale(1.2);
    opacity: 0.5;
}
.item-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1c70a;
    border-bottom: 2px solid #f1c70a;
    border-top: 2px solid #f1c70a;
    transition: all 2s ease;
    opacity: 0;
}
.item-container:hover .item-link{
    opacity: 1;
}
.item-link:hover{
    color: #f4f1cb;
    border: 2px solid #f1c70a;
    background-color: #391005;
}
.item-container:hover{
    outline: 1px solid #f1c70a;
    outline-offset: -0.8rem;
}
.sobre-conteudo h1{
    color: #f1c70a;
}
.sobre-conteudo h2{
    font-family: Arial;
    color: #f4f1cb;
    font-size: 1.3rem;
    text-align: justify;
}
.fotos-churrascaria{
    transform: rotate(3deg);
    padding-top: 50px;
}